extends layout
block content
    h1= title
    h2(class={success: success.isSuccess} class={error: !success.isSuccess} style="background-color: rgba(0, 0, 0, .7); padding: 10px")= success.msg
    if Object.values(errors) != 0
        .errors-block
            ul
                - var errPoints = []
                each err in Object.values(errors)
                    - errPoints.push(err.param)
                        li= err.msg
    form(method="post" action="#{action}").register-form
        div.input-block
            label(for="fullName") Полное наименование компании
            textarea(type="text" name="fullName" rows="1") #{data.fullName ? data.fullName : ''}
        div.input-block
            label(for="shortName") Краткое наименование компании
            input(type="text" name="shortName" value="#{data.shortName ? data.shortName : ''}")
        div.input-block
            label(for="formOfOwnership") Форма собственности
            input(type="text" name="formOfOwnership" value="#{data.formOfOwnership ? data.formOfOwnership : ''}")
        div.input-block
            label(for="kindOfActivity") Вид деятельности
            input(type="text" name="kindOfActivity" value="#{data.kindOfActivity ? data.kindOfActivity : ''}")
        div.input-block
            label(for="legalAddress") Юридический адрес
            input(type="text" name="legalAddress" value="#{data.legalAddress ? data.legalAddress : ''}")
        div.input-block
            label(for="actualAddress") Фактичесий адрес
            input(type="text" name="actualAddress" value="#{data.actualAddress ? data.actualAddress : ''}")
        div.input-block
            label(for="head") Руководитель
            input(type="text" name="head" value="#{data.head ? data.head : ''}")
        div.input-block
            label(for="phoneNumber") Номер телефона
            input(type="tel" name="phoneNumber" value="#{data.phoneNumber ? data.phoneNumber : ''}")
        div.input-block
            label(for="faxNumber") Факс
            input(type="tel" name="faxNumber" value="#{data.faxNumber ? data.faxNumber : ''}")
        div.input-block
            label(for="email") Электронная почта
            input(type="email" name="email" value="#{data.email ? data.email : ''}")
        div.input-block
            label(for="inn") ИНН
            input(type="text" name="inn" value="#{data.inn ? data.inn : ''}")
        div.input-block
            label(for="ogrn") ОГРН
            input(type="text" name="ogrn" value="#{data.ogrn ? data.ogrn : ''}")
        div.input-block
            label(for="kpp") КПП
            input(type="text" name="kpp" value="#{data.kpp ? data.kpp : ''}")
        div.input-block
            label(for="okved") ОКВЭД
            input(type="text" name="okved" value="#{data.okved ? data.okved : ''}")
        div.input-block
            label(for="registrationInformation") Регистрационная информация
            input(type="text" name="registrationInformation" value="#{data.registrationInformation ? data.registrationInformation : ''}")
        div.input-block
            label(for="bankInformation") Банковские реквизиты
            input(type="text" name="bankInformation" value="#{data.bankInformation ? data.bankInformation : ''}")
        div.input-block.approve
            label(for="isApproved") Одобрено
            input(type="checkbox" name="isApproved" checked=data.isApproved)
        div.input-block
            button(type="submit") Сохранить
            button(type="reset" title="Работает для вновь введённых данных") Очистить
            button(type="button").cancelBtn Отмена

    script.
        const inputs = document.querySelectorAll('input')
        let points = '#{errPoints}'
        const cancelBtn = document.querySelectorAll('.cancelBtn')

        inputs.forEach((input) => {
            if (points.includes(input.name)) {
                input.classList.add('error')
            }
        })

        cancelBtn.forEach( (btn) => {
            btn.addEventListener('click', () => {
                window.location.replace('/companies-list')
            })
        })