extends layout
block content
    if success.isSuccess
        h2.success= success.msg
    if Object.values(errors) != 0
        h2(class={success: success.isSuccess} class={error: !success.isSuccess})= success.msg
        .errors-block
            ul
                - var errPoints = []
                each err in Object.values(errors)
                    - errPoints.push(err.param)
                        li= err.msg
    .error-points.hidden= errPoints
    form(method="post" action="#{action}").register-form.with-shadow
        div.input-block
            label(for="fullName") Полное наименование компании:
            textarea(type="text" name="fullName").form-control #{data.fullName ? unescapeString(data.fullName) : ''}
        div.input-block
            label(for="shortName") Краткое наименование компании: *
            input(type="text" name="shortName" value="#{data.shortName ? unescapeString(data.shortName) : ''}").form-control
        div.input-block
            label(for="formOfOwnership") Форма собственности:
            input(type="text" name="formOfOwnership" value="#{data.formOfOwnership ? unescapeString(data.formOfOwnership) : ''}").form-control
        div.input-block
            label(for="kindOfActivity") Вид деятельности:
            textarea(type="text" name="kindOfActivity").form-control= data.kindOfActivity ? unescapeString(data.kindOfActivity) : ''
        div.input-block
            label(for="legalAddress") Юридический адрес:
            textarea(type="text" name="legalAddress").form-control= data.legalAddress ? unescapeString(data.legalAddress) : ''
        div.input-block
            label(for="actualAddress") Фактичесий адрес:
            textarea(type="text" name="actualAddress").form-control= data.actualAddress ? unescapeString(data.actualAddress) : ''
        div.input-block
            label(for="head") Руководитель:
            textarea(type="text" name="head").form-control= data.head ? unescapeString(data.head) : ''
        div.input-block
            label(for="phoneNumber") Номер телефона организации:
            input(type="number" name="phoneNumber" value="#{data.phoneNumber ? data.phoneNumber : ''}").form-control
        div.input-block
            label(for="faxNumber") Факс:
            input(type="number" name="faxNumber" value="#{data.faxNumber ? data.faxNumber : ''}").form-control
        div.input-block
            label(for="email") Электронная почта: *
            input(type="email" name="email" value="#{data.email ? data.email : ''}").form-control
        div.input-block
            label(for="inn") ИНН: *
            input(type="text" name="inn" value="#{data.inn ? data.inn : ''}").form-control
        div.input-block
            label(for="ogrn") ОГРН: *
            input(type="text" name="ogrn" value="#{data.ogrn ? data.ogrn : ''}").form-control
        div.input-block
            label(for="kpp") КПП: *
            input(type="text" name="kpp" value="#{data.kpp ? data.kpp : ''}").form-control
        div.input-block
            label(for="okved") ОКВЭД:
            input(type="text" name="okved" value="#{data.okved ? data.okved : ''}").form-control
        div.input-block
            label(for="registrationInformation") Сведения о регистрации:
            textarea(type="text" name="registrationInformation").form-control= data.registrationInformation ? unescapeString(data.registrationInformation) : ''
        div.input-block
            label(for="bankInformation") Банковские реквизиты:
            textarea(type="text" name="bankInformation").form-control= data.bankInformation ? unescapeString(data.bankInformation) : ''
        div.input-block.approve
            label(for="isApproved") Одобрено:
            input(type="checkbox" name="isApproved" checked=data.isApproved)
        div.input-block
            .required-attention *Поля обязательные к заполнению
            .btn-group
                button(type="submit").btn.btn-light Сохранить
                button(type="reset" title="Работает для вновь введённых данных").btn.btn-light Очистить
                button(type="button").cancelBtn.btn.btn-light Отмена
        script(src="/javascripts/companiesForm.js") 