extends layout
block content
    a(href="/new-excursion")
        button.btn.btn-primary.with-shadow Добавить
    form(action="/excursions-list" method="get").excursions__filter-form.with-shadow
        label(for="company-filter").excursions__filter-label Фильтр по операторам:
        select(name="companyFilter").form-select
            option(value="") Все
            each company in data.companies
                option(value="#{company.shortName}" class={success: company.isApproved} class={error: !company.isApproved})= company.shortName
        button(type="submit").btn.btn-light Фильтровать
        button(type="reset" onclick="window.location.replace('/excursions-list')").btn.btn-light Сбросить
    .excursions.with-shadow
        .excursions__col
            h2.excursions__col-title Название
        .excursions__col
            h2.excursions__col-title Оператор
        .excursions__col.status
            h2.excursions__col-title Статус
        .excursions__col
            h2.excursions__col-title Редактирование
        each excursion in data.excursions
            .excursions__col
                span.excursions__title= excursion.title
            .excursions__col
                span.excursions__company= excursion.company
            .excursions__col.status
                .badge-block
                    if excursion.isApproved
                        .badge.bg-success Одобрено
                    else
                        .badge.bg-danger Не одобрено
                    if excursion.isPublished
                        .badge.bg-info.text-dark Опубликовано
                    else
                        .badge.bg-danger Не опубликовано
            .excursions__col
                a(href="/excursions-list/#{excursion.slug}") 
                    button.btn.btn-light Редактировать
                form(action="/excursions-list/#{excursion.slug}/delete" method="post")
                    button.deleteBtn.btn.btn-light Удалить
                    input(type="hidden" name="delete")
    script. 
        const deleteBtn = document.querySelectorAll('.deleteBtn')

        deleteBtn.forEach( (btn)=> {
            btn.addEventListener('click', (e) => {
                e.preventDefault()
                let result = confirm('Подтвердите удаление')
                if(result) {
                    e.target.nextSibling.value = true
                    e.target.form.submit()
                }
            })
        })