extends layout
block content
    a(href="/new-excursion")
        button.btn.btn-primary.with-shadow Добавить
    .filter-form__wrap
        div
            select(name="companyFilter").form-select.filter-select
                option(value="") Все
                each company in data.companies
                    option(value="#{company.shortName}")= company.shortName
        div
            select(name="excursionFilter").form-select.filter-select
                option(value="") Все
                each excursion in data.excursionsFilterList
                    option(value="#{excursion}")= excursion
    .excursions.with-shadow
        if data.excursions
            .excursions__col
                h2.excursions__col-title Название
            .excursions__col
                h2.excursions__col-title Оператор
            .excursions__col.status
                h2.excursions__col-title Статус
            .excursions__col
                h2.excursions__col-title Редактирование
            each excursion in data.excursions
                .excursions__col
                    span.excursions__title= excursion.title
                .excursions__col
                    span.excursions__company= excursion.company
                .excursions__col.status
                    .badge-block
                        if excursion.isApproved
                            .badge.bg-success Одобрено
                        else
                            .badge.bg-danger Не одобрено
                        if excursion.isPublished
                            .badge.bg-info.text-dark Опубликовано
                        else
                            .badge.bg-danger Не опубликовано
                .excursions__col
                    a(href="/excursions-list/#{excursion.slug}") 
                        button.btn.btn-light Редактировать
                    form(action="/excursions-list/#{excursion.slug}/delete" method="post")
                        button.deleteBtn.btn.btn-light Удалить
                        input(type="hidden" name="delete")
    .status-description
        h2 Описание статусов
        .status-description__item
            .badge.bg-success Одобрено
            p Этот статус присваивается при создании или редактировании экскурсии, если экскурсия одобрена - она будет опубликована на терминалах во время ближайшего обновления.
                
        .status-description__item
            .badge.bg-info.text-dark Опубликовано
            p Этот статус указывает на то, что экскурсия в данный момент показывается на терминалах.
    script(src="/javascripts/excursionsList.js") 
        