extends layout

block content
    h1= title
    if success.isSuccess
        h2.success= success.msg
    if Object.values(errors) != 0
        h2.error= success.msg
        .errors-block
            ul
                - var errPoints = []
                each err in Object.values(errors)
                    - errPoints.push(err.param)
                        li= err.msg
    form(method="post" action="#{action}" enctype="multipart/form-data").register-form
        .input-block
            label(for="company") Оператор: *
            select(type="text" name="company" rows="1").form-select
                each company in data.companies
                    - var isSelected = data.selected === company.shortName
                    option(value="#{company.shortName}" selected=isSelected)= company.shortName
        .input-block
            label(for="title") Название экскурсии: *
            input(type="text" name="title" value="#{data.body.title ? data.body.title : ''}" required).form-control
        .input-block
            label(for="description") Описание экскурсии: *
            textarea(type="text" name="description" rows="1" required).form-control #{data.body.description ? data.body.description : ''}
        .input-block
            label(for="price") Стоимость экскурсии: *
            input(type="text" name="price" value="#{data.body.price ? data.body.price : ''}" required).form-control
        .input-block
            label(for="pictures") Изображения:
            input(type="file" name="pictures" multiple accept=".jpg, .jpeg, .png").form-control
        .input-block.approve
            label(for="isApproved") Одобрено:
            input(type="checkbox" name="isApproved" checked=data.body.isApproved)
        .input-block
            label(for="tags") Выберите подходящие теги:
            .tags
                .tag-item 
                    input(type="checkbox" name="tags" value='обзорные экскурсии')
                    label(for="") обзорные экскурсии
                .tag-item 
                    input(type="checkbox" name="tags" value='автобусные туры')
                    label(for="") автобусные туры
                .tag-item 
                    input(type="checkbox" name="tags" value='автомобильные туры')
                    label(for="") автомобильные туры
                .tag-item 
                    input(type="checkbox" name="tags" value='джиппинг')
                    label(for="") джиппинг
                .tag-item 
                    input(type="checkbox" name="tags" value='квадроциклы')
                    label(for="") квадроциклы
                .tag-item 
                    input(type="checkbox" name="tags" value='мотоциклы')
                    label(for="") мотоциклы
                .tag-item 
                    input(type="checkbox" name="tags" value='велосипедные')
                    label(for="") велосипедные
                .tag-item 
                    input(type="checkbox" name="tags" value='конные прогулки')
                    label(for="") конные прогулки
                .tag-item 
                    input(type="checkbox" name="tags" value='морские прогулки')
                    label(for="") морские прогулки
                .tag-item 
                    input(type="checkbox" name="tags" value='дайвинг')
                    label(for="") дайвинг
                .tag-item 
                    input(type="checkbox" name="tags" value='рафтинг')
                    label(for="") рафтинг
                .tag-item 
                    input(type="checkbox" name="tags" value='парки в Сочи')
                    label(for="") парки в Сочи
                .tag-item 
                    input(type="checkbox" name="tags" value='музеи Сочи')
                    label(for="") музеи Сочи
                .tag-item 
                    input(type="checkbox" name="tags" value='квесты')
                    label(for="") квесты
                .tag-item 
                    input(type="checkbox" name="tags" value='полеты на парапланах')
                    label(for="") полеты на парапланах   
                .tag-item 
                    input(type="checkbox" name="tags" value='Олимпийский парк')
                    label(for="") Олимпийский парк
                .tag-item 
                    input(type="checkbox" name="tags" value='Красная поляна')
                    label(for="") Красная поляна
                .tag-item 
                    input(type="checkbox" name="tags" value='Сочи')
                    label(for="") Сочи
                .tag-item 
                    input(type="checkbox" name="tags" value='Адлер')
                    label(for="") Адлер
        .input-block
            .required-attention *Поля обязательные к заполнению
            .btn-group
                button(type="submit").btn.btn-success Сохранить
                button(type="reset" title="Работает для вновь введённых данных").btn.btn-warning Очистить
                button(type="button").btn.cancelBtn.btn-danger Отмена
    .pictures-block
        if data.pictures
            each picture in data.pictures
                .pictures-block__item
                    img(src="/images/upload/#{picture}" alt="").pictures-block__img
                    button.delete-img.btn.btn-danger Удалить

    script.
        const inputs = document.querySelectorAll('input')
        const textAreas = document.querySelectorAll('textarea')
        const points = '#{errPoints}'
        const cancelBtn = document.querySelectorAll('.cancelBtn')
        const deleteImgBtns = document.querySelectorAll('.delete-img')
        const tagCheckboxes = document.querySelectorAll('input[name="tags"]')
        const tags = '#{data.tags}'

        tagCheckboxes.forEach(item => {
            if (tags.includes(item.value)) {
                item.checked = true
            }
        })

        textAreas.forEach((item) => {
            if (points.includes(item.name)) {
                item.classList.add('error')
            }
        })

        inputs.forEach((input) => {
            if (points.includes(input.name)) {
                input.classList.add('error')
            }
        })

        cancelBtn.forEach( (btn) => {
            btn.addEventListener('click', () => {
                window.location.replace('/excursions-list')
            })
        })

        deleteImgBtns.forEach( (btn, i) => {
            let index = i
            btn.addEventListener('click', (e) => {
                let xhr = new XMLHttpRequest()
                if (index > 0){
                    index -= 1
                }
                let json = JSON.stringify({
                    action: 'delete',
                    index: index
                })


                xhr.open('DELETE', '#{action}', true)
                xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8')

                xhr.send(json)

                xhr.responseType = 'json'

                xhr.onload = function() {
                    let responseObj = xhr.response
                    if (responseObj.success) {
                        btn.parentNode.style.display = 'none' 
                    }
                    else {
                        console.error(responseObj.error)
                    }
                }
            })
        })
