doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    body
        .container
            header
                .top-header
                    img(src="/images/logo.png" alt="" height='40').top-header__logo
                    h1= unescapeString ? unescapeString(title) : title
                    #user-menu
                        span.user-plank= 'Пользователь: ' + user
                        ul#dropdown-menu
                            if user === 'guest'
                                li
                                    a(href="/login") Войти
                            else
                                li 
                                    a(href="") Список пользователей
                                li
                                    a(href="/logout") Выйти
                img(src="/images/menu.svg" alt="")#open-menu
                menu
                    .top-menu
                        a(href="/").menu-item Главная
                        a(href="/companies-list").menu-item Список операторов
                        a(href="/excursions-list").menu-item Список экскурсий
                    .bottom-menu 
                        span.menu__user= 'Пользователь: ' + user
                        if user === 'guest'
                            a(href="/login").menu-item Войти
                        else
                            a(href="/logout").menu-item Выйти
            .content
                block content
        #shadow-bg
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js")
        script(src="/javascripts/script.js")
            